.home {
  margin-top: -105px;
  h1 {
    margin-bottom: 20px;
  }
  .get-free-btn {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    &:hover {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
  }
}
.get-free-btn {
  background: $accent;
  border-radius: 0;
  color: #fff;
  box-shadow: 0px 2px 5px
  &:focus {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
  &:focus {
    color: #fff;
  }
}

.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 16% 25%;
  height: 45%;
  border: 2px solid #000;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
