.footer {
  background: #252525;
  padding: 20px 0;
  p {
    color: rgb(185, 185, 185);
    margin: 0;
    line-height: 25px;
    text-align: center;
    @media only screen and (min-width: 768px) {
      &.copyright {
        text-align: left;
      }
      &.author {
        text-align: right;
      }
    }
  }
  a {
    color: rgb(185, 185, 185);
    font-family: "Pacifico";
    font-size: 25px;
    text-decoration: none;
  }
}
